html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: #e7e7e7;
}

#wrapper {
    width: 100%;
    height: 100%;
}

#right-sidebar {
    width: 300px;
    height: 100%;
    position: relative;
    float: right;
    right: 0;
    z-index: 998;
    /*border-left: 2px solid #e7e7e7;*/
    background-color: white;
    box-shadow: 0 0 15px #aaa;
}

#canv {
    width: 100%;
    height: 100%;
    position: absolute;
    user-select: none;
}

#canvas-panel {
    position: absolute;
    background-color: white;
    box-shadow: 0 0 15px #aaa;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    user-select: none;
}

#canvas-wrapper {
    position: absolute;
    height: 100%;
    width: auto;
    margin: 0 auto;
    user-select: none;
}

#selection-footer {
    background-color: white;
    width: 100%;
    height: 200px;
    position: fixed;
    z-index: 999;
    bottom: -50px;
    border: 2px solid #e7e7e7;
    border-radius: 5px;
    margin: 0 auto;
}

#room-info {
    width: 100%;
    height: 130px;
    background-color: #efefef;
    border-bottom: 2px solid #e7e7e7;
    box-sizing: border-box;
    padding: 10px 15px;
}

#room-name {
    font-family: sans-serif;
    font-size: 20px;
}

#player-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 14px;
}

.player-item {
    display: block;
    margin: 5px 10px;
    font-family: monospace;
    font-size: 10px;
}

.player-item-span {

}

#chat-display {
    /*width: 100%;*/
    height: calc(100% - 75px - 130px);
    margin: auto;
    padding: 15px;
    overflow-y: scroll;
}

#chat-display > p {
    white-space: normal;
    word-break: break-all;
    font-family: monospace;
    margin: 0 0 15px 0;
    word-wrap: break-word;
}

#chat-input {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    padding: 5px 10px;
    border-top: 2px solid #e7e7e7;
    background-color: #efefef;
}

#chat-field {
    outline: none;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    padding: 5px;
    box-sizing: border-box;
    resize: none;
    width: 100%;
    /*height: 100%;*/
    margin: auto 0;
    font-family: monospace;
    background-color: #fff;
    color: #000;
/*padding: 0;*/
    
}

#chat-list {
    list-style: none;
    padding: 0 15px;
    white-space: pre;
}

#chat-list > li {
    margin: 0;
    white-space: pre;
}

#top-info-bar {
    width: 50%;
    height: 75px;
    position: fixed;
    margin: 0 auto;
    z-index: 997;
    background-color: rgba(33,33,33,0.85);
    border: 3px solid #3e3e3e;
    border-radius: 0 0 10px 10px;
    pointer-events: none;
    box-sizing: border-box;
    padding: 15px;
    transition: opacity ease-in 0.25s;
    transition: top ease-out 0.25s;
    opacity: 0;
    top: -75px;
    left: calc((50% - 300px)/2);
    user-select: none;
}

#bottom-tool-bar {
    width: 400px;
    height: 75px;
    position: fixed;
    margin: 0 auto;
    z-index: 999;
    background-color: rgba(33,33,33,0.85);
    border: 3px solid #3e3e3e;
    border-radius: 10px 10px 0 0;
    box-sizing: border-box;
    padding: 15px;
    transition: opacity ease-in 0.25s;
    transition: bottom ease-out 0.25s;
    bottom: -60px;
    opacity: 0.75;
    left: calc((100% - 300px - 400px)/2);
    user-select: none;
}

#floating-indicator {
    left: 15px;
    top: 15px;
    width: 300px;
    height: 100px;
    position: fixed;
    z-index: 1000;
    /*background: linear-gradient(0deg, rgba(33,33,33,0.75), rgba(33,33,33,0.85));*/
    background-color: rgba(33,33,33,0.85);
    border: 3px solid #3e3e3e;
    border-radius: 10px;
    pointer-events: none;
    box-sizing: border-box;
    padding: 15px;
    transition: opacity ease-in 0.25s;
    opacity: 0;
    user-select: none;
}

#indicator-text, #indicator-text-2, #timer {
    margin: auto 0;
    color: #e7e7e7;
    font-family: sans-serif;
    font-weight: 700;
    user-select: none;
}

#indicator-text-2 {
    float: left;
}

#timer {
    float: right;
    font-size: 30px;
    transition: font-size: 0.5s;
}

#erase-board {
    position: relative;
    width: auto;
    height: 20px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 12px;
    /*left: calc(100% - 75px);*/
    float: right;
    top: calc(100% - 20px);
    user-select: none;
    cursor: pointer;
    margin-right: 5px;
    background-color: #fff;
    z-index: 999;
			
}

#leave-room {
    font-size: 12px;
    position: fixed;
    bottom: 3px;
    left: 3px;
    font-family: monospace;
    user-select: none;
    z-index: 1000;
}

#leave-room > a {
    color: #000;
}

#leave-room > a:hover {
    color: #333;
}

#hue-canv, #size-canv {
    border: solid 1px #666;
    cursor: crosshair;
    user-select: none;
}

#size-canv {
    margin-left: 2px;
}