html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: #e7e7e7;
}

#wrapper {
    width: 100%;
    height: 100%;
}

#right-sidebar {
    width: 300px;
    height: 100%;
    position: relative;
    float: right;
    right: 0;
    /*border-left: 2px solid #e7e7e7;*/
    background-color: white;
    box-shadow: 0 0 15px #aaa;
}

#canv {
    width: 100%;
    height: 100%;
    position: absolute;
}

#canvas-panel {
    position: absolute;
    background-color: white;
    box-shadow: 0 0 15px #aaa;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
}

#canvas-wrapper {
    position: absolute;
    height: 100%;
    width: auto;
    margin: 0 auto;
}

#selection-footer {
    background-color: white;
    width: 100%;
    height: 200px;
    position: fixed;
    z-index: 999;
    bottom: -50px;
    border: 2px solid #e7e7e7;
    border-radius: 5px;
    margin: 0 auto;
}

#chat-display {
    /*width: 100%;*/
    height: calc(100% - 85px);
    margin: auto;
    padding: 15px;
}

#chat-display > p {
    white-space: normal;
    word-break: break-all;
    font-family: monospace;
    margin: 0 0 15px 0;
}

#chat-input {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    padding: 5px 10px;
    border-top: 2px solid #e7e7e7;
}

#chat-field {
    outline: none;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    padding: 5px;
    box-sizing: border-box;
    resize: none;
    width: 100%;
    /*height: 100%;*/
    margin: auto 0;
    font-family: monospace;
/*padding: 0;*/
    
}

#chat-list {
    list-style: none;
    padding: 0 15px;
    white-space: pre;
}

#chat-list > li {
    margin: 0;
    white-space: pre;
}

#floating-indicator {
    left: 15px;
    top: 15px;
    width: 300px;
    height: 100px;
    position: fixed;
    z-index: 1000;
    /*background: linear-gradient(0deg, rgba(33,33,33,0.75), rgba(33,33,33,0.85));*/
    background-color: rgba(33,33,33,0.85);
    border: 3px solid #3e3e3e;
    border-radius: 3px;
    pointer-events: none;
    box-sizing: border-box;
    padding: 15px;
    transition: opacity ease-in 0.25s;
    opacity: 0;
}

#indicator-text {
    color: #e7e7e7;
    font-family: sans-serif;
    text-align: center;
    position: relative;
    font-weight: 700;
}

#erase-board {
    position: relative;
    width: auto;
    height: 25px;
    /*left: calc(100% - 75px);*/
    float: right;
    top: calc(100% - 25px);
    user-select: none;
    cursor: pointer;
    margin-right: 5px;
    background-color: #fff;
    z-index: 999;
}
::selection {
    color: rgba(0,0,0,0);
}