<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body onload="init()">
    <script type="text/javascript" src="/static/socket.io.js" <!--src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.js"-->></script>
    <script type="text/javascript" src="/static/main.js"></script>
    <div id="wrapper">
      <div id="floating-indicator">
	<span id="indicator-text">Hello world!</span>
	</div>
      <div id="canvas-wrapper">
	<div id="canvas-panel">
	  <span id="erase-board">
	    [X]
	  </span>
	  <canvas id="canv"></canvas>
	</div>
      </div>
      <div id="right-sidebar">
	<div id="chat-display">
	  </div>
	<div id="chat-input">
	  <input id="chat-field"></input>
	</div>
      </div>
    </div>
  </body>
</html>
