<!DOCTYPE html>
<html>

  <head>
    <title>Instructions</title>
  </head>

  <body>
    <h1>About</h1>
    <p>
      Pictionaire is an online multiplayer drawing game, suitable for two to five players. Players can take on the role of their favorite artists, from Van Gogh to Jackson Pollock, as they sketch their way to the top! Challenge your friends, your enemies, random strangers, and yourself with one fast-paced, high-stakes game mode, perfect for all gender identities.
      <br><br>
      <h2>Making and Joining Rooms</h2>
      Users can create a room using the button on the room list. Naming the room is optional, and if the box is left blank, a random hexadecimal name will be generated.
      <br>
      To join a room, the user must click the desired room's name on the list. When a room has five players, additional players will be unable to join until someone else leaves.
      <br>
      To leave a room, you must click the leave button in the room itself. Players will be unable to join any other rooms until they leave their current room.
      <br><br>
      <h2>Playing the Game</h2>
      The rules of the game are as follows:
      <ul>
	<li>The player is only able to draw on their turn. Turns cycle based on the order people join, and when it is your turn, a banner will pop up that specifies which word to draw.</li>
	<li>If it is not your turn, you will have to try to guess the word the other players are drawing. Input guesses in the chat box; all correct guesses will be censored to other players.</li>
	<li>The first person to correctly guess the word wins two points. Subsequent correct guesses from other players award one point each. Players who have not yet gotten it can continue making guesses until time runs out.</li>
	<li>Whoever earns the most points after everyone has drawn twice is declared the winner of that game!</li>
      </ul>
      <br>
      <h2>Accounts</h2>
      Accounts are completely optional, though necessary if the player wishes to keep track of their wins and winrate on their profile. Having an account also allows one to send chat messages from their username, instead of a randomly generated guest account, and makes keeping track of who's who much easier.
    </p>

    <p>
      <a href="/">Back Home</a>
    </p>
    
  </body>

</html>
