<!DOCTYPE html>
<html>

  <head>
    <title>Profile</title>
  </head>

  <body>
    {% if isSame %}
    <h1>My Profile</h1>
    
    {% else %}
    <h1>{{user}}'s Profile</h1>
    
    {% endif %}

    <p>
      <h2>Wins:</h2>
      {{ wins }}
    </p>

    <p>
      <h2>Games:</h2>
      {{ games }}
    </p>

    <p>
      <h2>Win Rate:</h2>
      {{ rate }}
    </p>
        
    <p>
      <a href="/logout">Log Out</a>
    </p>
    
    <p>
      <a href="/">Back Home</a>
    </p>
  </body>

</html>
