<!DOCTYPE html>
<html>

  <head>
    <title>Available Rooms</title>
    <style>
      table, th, td{
      border: 1px solid black;
      border-collapse: collapse;
      }
      th, td{
      padding: 5px;
      }
    </style>
  </head>

  <body>
    <h1>Available Rooms</h1>
    
    <table style="width:50%">
      <tr>
        <th>Room Name</th>
        <th>Number of Players</th>
      </tr>
      {% if tabledict|length > 0 %}
        {% for key, value in tabledict.items() %}
          <tr>
            <td><a href="/play/{{key}}">{{key}}</a></td>
            <td>{{value}}</td>
          </tr>
        {% endfor %}
      {% endif %}
    </table>

    <p>
      <form action="/mkroom">
	<input type="submit" value="Make a Room">
      </form>
    </p>

    <p>
      <a href="/">Back Home</a>
    </p>
    
  </body>

</html>
